html,
body {
  color: #363020;
}

.Button {
  display: block;
  font-size: 16px;
  width: 95%;
  padding: 0.5em 1.2em;
  border: 2px solid #363020;
  margin: 1.2em auto;
  box-sizing: border-box;
  text-decoration: none;
  color: #363020;
  text-align: center;
  transition: all 0.3s;
}

Button:hover {
  color: #363020;
  background-color: #68c3d4;
}

.signup-reg-form > h2,
.registration > p {
  text-align: center;
}

.dashboard > section > h2,
.dashboard > section > h3,
.dashboard > section > h4,
.learning > section > h2,
.learning > section > h3,
.learning > section > h4,
.learning > section > div > h2,
.learner-feedback > p,
.learner-feedback > div > p {
  padding-left: 20px;
}

.signup-reg-form,
.dashboard,
.learning {
  border: 1px solid #363020;
  margin: 0 20px;
  padding: 0 0 20px;
  box-shadow: #999999 5px 5px 10px;
}

.login,
.dashboard,
.learning {
  margin-top: 20px;
}

.practice {
  text-decoration: none;
}

.input-field,
.input-label {
  box-sizing: border-box;
  width: 95%;
  margin: 10px 10px 25px 10px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
}

.input-field:focus {
  outline: none !important;
  border: 2px solid #68c3d4;
}

.input-label {
  padding-left: 10px;
}

@media all and (min-width: 600px) {
  html,
  body {
    margin: 0 auto;
    width: 800px;
  }

  .signup-reg-form {
    margin: 0 auto;
    width: 400px;
  }

  .dashboard,
  .learning {
    margin: 20px auto 20px;
    width: 400px;
  }
}
